body{
   background: #d5b8ff;
}
h1{
    font-weight: bold;
    text-align: center;
}
h2{
    font-weight: bold;
    text-align: center;
    
}
h3{
    font-weight: normal;
}
h1,h2,h3{
    color: brown;
    margin: 10px;
    padding: 10px;
}
p{
    margin: 10px;
    padding: 10px;
}
.quote{
    font-style: italic;
    text-align: center;
}
.description{
    text-align: center;
    font-style: italic;
}
.wc{
    margin: 50px;
    text-align: center;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    clear: both;
}
.card-title{
    font-family:'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bold;
}
.con{
    margin: 20px;
    padding: 20px;
    border: 4px;
    text-align: center;
}
.flat{
    float: right;
}
.navbar{
    background-color: #96281b;
    text-shadow: black;
}
.nav-link,.navbar-brand{
    color: blanchedalmond;
}
.navbar-brand{
    font-weight: bold;
}
.ed{
    clear: both;
}
.table{
    border: crimson;
    padding: 5px;
    margin: 5px;
}
#row{
    background-color: lawngreen;
}
.med{
    word-spacing: 1.5rem;
}
